* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

.container h1 {
  text-align: center;
  margin-top: 1rem;
}

.create-note {
  width: fit-content;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border: 1px solid yellow;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
}

form input:active {
  border: 1px solid blue;
}

form button {
  /* width: fit-content; */
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  background-color: lightgreen;
}

.notes-section {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem 3rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: start;
  gap: 1rem;
  margin-top: 2rem;
}

/* .notes-section h2 {
  text-align: center;
  margin-bottom: 1rem;
} */

.notes-section .note {
  max-width: 20rem;
  background-color: gray;
  color: black;
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  position: relative;
}

.note .buttons {
  position: absolute;
  top: 5%;
  right: 10%;
  display: flex;
  gap: 0.2rem;
  /* border: 1px solid black; */
  background-color: inherit;
}

/* Ensure plain <button> elements inside .buttons inherit styles */
.buttons button {
  background-color: inherit;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

#delete {
  right: 2%;
  color: red;
}
#delete:active {
  background-color: darkred;
}

.note #edit {
  right: 25%;
  color: blue;
}

.note #edit:active {
  background-color: darkblue;
}

/* Modal Css */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.modal h2 {
  margin-bottom: 15px;
  color: black;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions #submit {
  background-color: lightgreen;
}
.modal-actions #cancel {
  background-color: lightcoral;
}
