* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
}

.notes-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.notes-section .note {
  max-width: 40rem;
  background-color: yellow;
  color: black;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.note button {
  position: absolute;
  top: 5%;
  right: 2%;
  color: red;
  background-color: inherit;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}
.note button:active {
  background-color: darkred;
}

form {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input:active {
  border: 1px solid blue;
}

form button {
  width: fit-content;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  background-color: lightgreen;
}
